.hands-on {
  background-color: cornflowerblue;
}

.university {
  background-color: #eb9316;
}

.quickie {
  background-color: forestgreen;
}

.event .title {
  padding-left: 15px;
  font-weight: bold;
}

.event .sub {
  padding-left: 15px;
}

