<div>

  <span ng-repeat="date in model.dates" class="date-picker"><a href="" ng-click="loadDate(date)">{{ date }}</a></span>

  <br/><br/>

  <div class="y-scrollable">

    <div class="axes-y">
      <div ng-style="{ 'minWidth': (options.oneHourSlotPxSize + 'px') }" class="time-slot" ng-repeat="hour in axes.X">
        {{ hour }}h
      </div>
    </div>

    <div class="axes-x">
      <div ng-repeat="(place, events) in lanes" class="lane">
        <span class="place">{{ place }}</span>
        <span ng-repeat="event in events" class="event" ng-style="computeEventStyle(event)">
          <div class="title">{{ event.title }}</div>
        </span>
      </div>
    </div>
  </div>

</div>

</div>
