<div ng-controller="SampleCtrl" class="container">

  <h1>Conference Planning - Angular Component</h1>

  <p>Here, a sample of the conference-planning angular component.</p>

  <p><b>JS</b></p>
    <pre>

        $scope.eventsList = [
          {
            title: 'De Zero à Héro avec Spring Boot',
            type: 'university',
            speaker: 'Léon Blum',
            place: 'Grand Amphitheatre',
            from: '2015-04-12T09:00:00.000Z',
            to: '2015-04-12T10:00:00.000Z',
            icon: 'picture1.png'
          },
          {
            title: 'Monitorer ses logs avec Elastic Search et Kibana',
            type: 'university',
            speaker: 'John Malkovich',
            place: 'Grand Amphitheatre',
            from: '2015-04-12T11:00:00.000Z',
            to: '2015-04-12T13:00:00.000Z',
            icon: 'picture2.png'
          },
          {
            title: 'Cloud direct with Docker',
            type: 'quickie',
            speaker: 'Miles Davis',
            place: 'Amphitheatre A',
            from: '2015-04-12T11:00:00.000Z',
            to: '2015-04-12T12:00:00.000Z',
            icon: 'picture3.png'
          },
          {
            title: 'Cloud direct with Docker 2',
            type: 'hands-on',
            speaker: 'John Doe',
            place: 'Amphitheatre A',
            from: '2015-04-13T11:00:00.000Z',
            to: '2015-04-13T12:00:00.000Z',
            icon: 'picture3.png'
          }
        ];

        $scope.options = {
            oneHourSlotSize: '100px'
        };

        $scope.getEventClasses = function (event) {
            return [ event.type ];
        };

    </pre>
  <p><b>HTML :</b></p>
    <pre>

      &lt;conference-planning events="eventsList" options="options"&gt;
        &lt;event ng-class="getEventClasses(event)"&gt;
            event.title
        &lt;/event&gt;
      &lt;/conference-planning&gt;

    </pre>

  <p><b>Rendering :</b></p>

  <conference-planning events="eventsList" options="options">
    <event>
      <span class="title">{{ event.title }}</span> <br/>
      <span class="speaker">{{ event.speaker }}</span>
    </event>
  </conference-planning>

  <div style="height: 50px"></div>

</div>
